<div class="container-initial" style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  ">
  <div class="card-divitions row justify-content-around align-items-center w-75"
    style="background-color: rgb(25, 34, 34); border-style: none; color: white">
    <img class="img-movil col-md-auto col-12 px-2" src="../../../assets/img/logo.png" alt="" />
    <div class="form col-12 col-md-4">
      <div class="title">
        <form #myResetPasswordForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="row justify-content-center" style="margin: 0">
            <div class="col-12 container-form">
              <mat-label>Contraseña</mat-label>
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput appAutofocus placeholder="contraseña" formControlName="password" class="inputOutline"
                  required [type]="hideRegister ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRegister">
                  <mat-icon>{{
                    hideRegister ? "visibility_off" : "visibility"
                    }}</mat-icon>
                </button>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm.get('password')?.hasError('required') &&
                  resetPasswordForm.get('password')?.touched
                ">
                  Este campo es obligatorio
                </mat-error>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm.get('password')?.hasError('minlength') &&
                  resetPasswordForm.get('password')?.touched
                ">
                  El tamaño mínimo es 10
                </mat-error>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm.get('password')?.hasError('maxlength') &&
                  resetPasswordForm.get('password')?.touched
                ">
                  El tamaño máximo es 20
                </mat-error>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm.get('password')?.hasError('pattern') &&
                  resetPasswordForm.get('password')?.touched
                ">
                  La contraseña debe tener mínimo una minúscula, una mayúscula, un
                  caracter especial y un número, el punto no es un caracter especial.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 container-form">
              <mat-label>Confirmar Contraseña</mat-label>
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput placeholder="confirmar contraseña" formControlName="confirmPassword"
                  class="inputOutline" required [type]="hideRegisterConfirm ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideRegisterConfirm = !hideRegisterConfirm"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRegisterConfirm">
                  <mat-icon>{{ hideRegisterConfirm ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm
                    .get('confirmPassword')
                    ?.hasError('required') &&
                  resetPasswordForm.get('confirmPassword')?.touched
                ">
                  Este campo es obligatorio
                </mat-error>
                <mat-error class="danger-color" *ngIf="
                  resetPasswordForm
                    .get('confirmPassword')
                    ?.hasError('mustMatch') &&
                  resetPasswordForm.get('confirmPassword')?.touched
                ">
                  Las contraseñas deben coincidir
                </mat-error>
              </mat-form-field>
            </div>

            <mat-error class="danger-color" *ngIf="resetError">
              No se ha podido restaurar la contraseña, inténtalo más tarde
            </mat-error>

            <div class="button-continue-restaurant row justify-content-end">
              <button mat-raised-button class="col-12" color="primary" type="submit">
                Cambiar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
