@import "../../../../../themes/theme.scss";

.container-products {
    display: flex;
    justify-content: center;
    margin: 40px;

    .table-active-create {
        width: 80%;

        .container-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0;

            .title-form {
                margin-top: 10px;
                color: map-get($theme-default, "primary");
                display: flex;
                align-items: center;

                .mat-icon {
                    font-size: 60px;
                    height: auto;
                    width: 45px;
                    cursor: pointer;
                }

                p {
                    margin: 0 0px;
                    font-size: 32px;
                }
            }

            .container-button-add {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;

                button {
                    width: 150px;
                }

                .container-button-save {
                    justify-content: flex-start;
                    margin-bottom: 50px;

                    button {
                        width: 10px;
                    }
                }
            }

        }

        .box-table {
            margin-top: 10px;
        }

        .container-add-new {
            display: flex;
            align-items: center;

            .container-button-save {
                .mat-raised-button {
                    min-width: 10px;
                }
            }
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }

    @media (max-width: 450px) {
        margin: 20px;
    }
}