<div
  class="container-initial"
  style="
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  "
>
  <div
  class="card-divitions row justify-content-around align-items-center w-75"
    style="background-color: rgb(25, 34, 34); border-style: none; color: white"
  >
    <img
    class="img-movil col-md-auto col-12 px-2"
    src="../../../assets/img/logo.png"
    alt=""
  />

    <div class="form col-12 col-md-4">
      <div class="title">
        <form #myRestoreForm="ngForm" [formGroup]="restoreForm">
          <div class="row justify-content-center" style="margin: 0">
            <div class="col-12 container-form">
              <mat-label>Correo</mat-label>
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Correo</mat-label>
                <input
                  matInput
                  appAutofocus
                  placeholder="Correo"
                  formControlName="email"
                  type="text"
                  required
                />
              </mat-form-field>

              <mat-error
                class="danger-color mb-1"
                *ngIf="
                  restoreForm.get('email')?.hasError('required') &&
                  restoreForm.get('email')?.touched
                "
              >
                Este campo es obligatorio
              </mat-error>
              <mat-error
                class="danger-color"
                *ngIf="
                  restoreForm.get('email')?.hasError('email') &&
                  restoreForm.get('email')?.touched
                "
              >
                Debe ser tipo email
              </mat-error>
            </div>

            <mat-error class="danger-color" *ngIf="emailNotFound">
              Ese correo no está registrado, intenta nuevamente
            </mat-error>

            <mat-label class="mb-1 pt-2">
              Por favor ingresa tu correo para recuperar la contraseña
            </mat-label>

            <div class="button-continue-restaurant row justify-content-end">
              <button
                mat-raised-button
                class="col-12 mt-3"
                color="primary"
                (click)="restorePassword()"
              >
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
