@import "../../../../themes/theme.scss";

.container-users{
    width: 100%;
    height: 100%;

    .menu-users{
        height: 35px;
        width: 100%;
        background-color: map-get($theme-default, "gray-dark");
        display: flex;
        color: map-get($theme-default, "white");
        font-weight: 600;
        align-items: center;
        font-size: 20px;

        .items{
            padding: 0;
            margin: 0;
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
        }

        .select{
            background-color: map-get($theme-default, "white");
            color: map-get($theme-default, "gray-dark");
        }
    }
}