<div class="container-washingTracks-active">
  <div class="row justify-content-evenly container-grid">
    <div class="col-12 col-md-6">
      <div class="table-active">
        <div class="table-active-panel container-button-add">
          <div class="title-form">
            <p>Pista</p>
          </div>
          <button
            (click)="scroll(target)"
            mat-raised-button
            color="primary"
            (click)="newWashingTracksButton()"
            [disabled]="mode === 'create' || mode === 'edit'"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="table-active-panel mt-4"
        >
          <app-table
            [headers]="tableWashingTracksService.headers"
            [data]="tableWashingTracksService.data"
            [totalPages]="tableWashingTracksService.totalPages"
            [actions]="tableWashingTracksService.actions"
            (edit)="tableWashingTracksService.editWashingTracks($event)"
            (edit)="tableWashingTracksService.scroll(target)"
            [actualPage]="tableWashingTracksService.actualPage"
            [disableEditItemWithStatus]="true"
            (back)="tableWashingTracksService.backPage()"
            (next)="tableWashingTracksService.nextPage()"
          >
          </app-table>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div
        class="form-active"
        *ngIf="this.mode === 'create' || this.mode === 'edit'"
      >
        <div class="center-form">
          <form
            [formGroup]="formsWashingTracksService.formWashingTracks"
            *ngIf="formsWashingTracksService.formWashingTracks"
          >
            <div class="centerDiv">
              <p>{{ title }}</p>
            </div>
            <div>
              <mat-label class="label-input">Pista</mat-label>
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Pista</mat-label>
                <input
                  matInput
                  appAutofocus
                  placeholder="Pista"
                  formControlName="name"
                  type="text"
                  required
                  class="inputOutline"
                />
                <!-- <mat-error
                      *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                      Este campo es obligatorio
                  </mat-error> -->
              </mat-form-field>
            </div>
            <div class="container-button-form">
              <button
                mat-raised-button
                color="primary"
                (click)="washingTracksSave()"
              >
                <mat-icon fontSet="material-icons-outlined">save</mat-icon>
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="container-logo">
        <img
          *ngIf="this.mode !== 'create' && this.mode !== 'edit'"
          class="w-75 pl-4 mx-auto"
          src="../../../../../assets/img/logo.png"
          alt=""
        />
      </div>
    </div>
    <div #target class="container-logo invisible">
      <img
        *ngIf="this.mode !== 'create' && this.mode !== 'edit'"
        class="w-25 pl-4 mx-auto"
        src="../../../../../assets/img/logo.png"
        alt=""
      />
    </div>
  </div>
</div>
